html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#SlideShow {
    position: relative; 
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
}

/*remove later*/
p{
    height:500px;
}

.slide {
    position: absolute; /* Allows stacking on top of each other */
    width: 100%;
    height: 100vh;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    opacity: 0; /* Hide all slides initially */
    transition: opacity 1s ease;
}

.active {
    opacity: 1; /* Show the active slide */
}

/* Ensure your background images are set correctly */
.slide:nth-child(1) {
    background-image: url('../IMG/Background1.avif');
}

.slide:nth-child(2) {
    background-image: url('../IMG/Background2.avif');
}

.slide:nth-child(3) {
    background-image: url('../IMG/Background3.avif');
}


.dot_container{
    position: absolute;
    bottom: 100px;
    left: 210px;
    text-align: center;
    z-index: 9;
}

.dot{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    border-radius: 50%;
    z-index: 10;
    background-color: white;
    cursor: pointer;
}

.dot_active{
    background-color: black;
}

.blocks{
    width: 280px;
    height: 450px;
    z-index: 9;
    position: absolute;
    bottom: 170px;
    left:120px;
}

.block1{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.block2{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    /*display: none;*/
}

.block2>div:nth-child(1){
    width: 100%;
    height: 30%;
    display:flex;
    align-items:center;
    justify-content:center
}

.block2>div:nth-child(2){
    width: 100%;
    height: 50%;
    display:flex;
    align-items:flex-start;
    justify-content:center;
}

.block2>div:nth-child(2)>div{
    display:flex;
    align-items:center;
    width:90%;
    border: 2px solid white;
    padding:5px
}

.block2>div:nth-child(1)>div>p{
    color: white;
    font-size:50px;
    height:30%;
    font-family: 'Bebas Neue';
}

.blocks2>div:nth-child(1){
    display:flex;
    flex-direction:column;
}

.block2>div:nth-child(2)>div>p{
    color:white;
    height: 50%;
    font-family: 'Arima';
}

.block2>div:nth-child(3){
    height:20%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.block1>div:nth-child(3)>button{
    background-color:black;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:80px;
    padding-left:80px;
    border: 1px solid white;
    font-size:20px;
    cursor: pointer;
    transition: background-color 0.25s;
    font-family: 'Bebas Neue';
}

.block1>div:nth-child(3)>button:hover{
    background-color: white;
    color: black;
}

.block2>div:nth-child(3)>button{
    background-color:black;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:80px;
    padding-left:80px;
    border: 1px solid white;
    font-size:20px;
    cursor: pointer;
    transition: background-color 0.25s;
    font-family: 'Bebas Neue';
}


.block2>div:nth-child(3)>button:hover{
    background-color: white;
    color: black;
}

.block3>div:nth-child(3)>button{
    background-color:black;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:80px;
    padding-left:80px;
    border: 1px solid white;
    font-size:20px;
    cursor: pointer;
    transition: background-color 0.25s;
    font-family: 'Bebas Neue';
}

.block3>div:nth-child(3)>button:hover{
    background-color: white;
    color: black;
}

.block3{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.block_active{
    display: block;
}




/* Header Styling */
/* Header style */
#TOPheader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: background-color 0.5s ease; /* Smooth transition for background-color */
}

/* Transparent header when scrolled */
.white {
    background-color: white; /* Fully transparent */
}



#TOPheader>div{
    display: flex;
    width: 33.3%;
    height: 100%;
    justify-content: center;
    align-items: center;
}



#TOPheader>div:nth-child(1)>a{
    width:33.3%;
    text-align:center;
    position: relative;
    padding-bottom: 5px;
}

#TOPheader > div:nth-child(1) > a::after {
    content: ""; 
    display: block; 
    width: 100%;
    height: 3px;
    background-color: black; 
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#TOPheader > div:nth-child(1) > a:hover::after {
    transform: scaleX(1);
}

#TOPheader>div>a{
    
    text-decoration: none;
    color: black;
    font-family: "Open Sans";
    font-weight:bold;
}


#TOPheader>div>img{
    width:35%
}

#TOPheader>div:nth-child(3){
    display:flex;
    justify-content:flex-end;
    padding-right:20px;
    width:20
}

#TOPheader>div>a{
    width: 30px;
    float:right
}

#TOPheader>div>a>img{
    width: 100%;
    float:right
}

#TOPheader>div>button{
    padding: 0;           
    border: none;          
    background: none;
    cursor: pointer;
    width:30px;
}


#TOPheader>div>button>img{
    width:100%;
    height:100%;
}

/*Main start*/

/*Main end*/

/*Product 1 start*/

/*Product 1 end*/

#MastheadP2{
    position: relative; 
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    background-image: url("../IMG/Product2IMG.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#P2block{
    width: 280px;
    height: 450px;
    z-index: 9;

    position: absolute;
    bottom: 120px;
    right:120px;
    background-color: black;
}

#P2block>div:nth-child(1){
    width: 100%;
    height: 30%;
    padding-bottom: 10px;
}

#P2block>div:nth-child(2){
    width: 100%;
    height: 70%;
    padding-top: 10px;
    text-align: left;
}

#P2block>div:nth-child(1){
    display: flex;
    justify-content: right;
    align-items: center;
}

#P2block>div>div{
    height: 50%;
    width: 90%;
    text-align: left;
}

#P2block>div>div>p{
    height: 10%;
    width: 85%;
    color: white;
    font-size: 50px;
    font-family: 'Bebas Neue';
}

#P2block>div:nth-child(2)>p{
    width:100%;
    height: 10%;
    width: 85%;
    color: white;
    font-size: 19px;
    font-family: 'Arima';
    padding-left: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

#MainContainer{
    display: flex;
    height:100vh;
    width:100%;
    padding-top: 10px;
}

#MainContainer>div{
    height:100%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leftDIV>img{
    height: 90%;
    width: auto;
}

#P2buyBlock{
    height:70%;
    width:50%;
    background-color: #8C3E92;
}

#P2buyBlock>div:nth-child(1){
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

#P2buyBlock>div:nth-child(1)>video{
   height: 100%;
   width: 100%;
}

#P2buyBlock>div:nth-child(2){
    width: 100%;
    height: 15%;
    text-align: center;
    padding-top: 10px;
}

#P2buyBlock>div:nth-child(2)>p:nth-child(1){
    font-family: 'Bebas Neue';
    font-size: 45px;
    width: 100%;
    height: 50%;
}

#P2buyBlock>div:nth-child(2)>p:nth-child(2){
    font-family: 'Bebas Neue';
    font-size: 20px;
    width: 100%;
    height: 50%;
    padding-top: 5px;
}

#P2buyBlock>div:nth-child(3){
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    #P2buyBlock>div:nth-child(3)>button{
        width: 60px;
        height: 60px;
        border: 2px solid black; 
        font-family: 'Bebas Neue';
        font-size: large;
        transition: background-color 0.25s, color 0.25s, box-shadow 0.3s; 

    }

    #P2buyBlock>div:nth-child(3)>button:hover{
        color: white;
        background-color: black;
    }







/*Footer*/


footer {
    height: 80vh; /* 30% of the viewport height */
    width: 100%;
    background-color: white; /* Optional: helps visualize the footer */
}

#UpperFooter{
    display: flex;
    height:50%;
    width:100%;
    align-items: center;
    justify-content:center;
    border-bottom-width:1px;
    border-color:black;
    border-style:solid;
}

#UpperContainer{
    display: flex;
    height:80%;
    width: 80%;
    background-color:white
}

#UpperContainer>div:nth-child(1){
    width: 25%;
    height: 100%;
    padding-right: 10px;
    background-color: white;
    
}

#UpperContainer>div:nth-child(2){
    width: 25%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

#UpperContainer>div:nth-child(3){
    width: 25%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;;
}

#UpperContainer>div:nth-child(4){
    width: 25%;
    height: 100%;
    padding-left: 10px;
    
}

#UpperContainer>div:nth-child(4)>p:nth-child(1){
    font-family: 'Bebas Neue';
    font-size: 22px;
}

#UpperContainer>div:nth-child(4)>p:nth-child(1){
    font-family: 'Bebas Neue';
    font-size: 22px;
}


#UpperContainer>div:nth-child(1)>div{
    height:50%;
    width:90%;
}

#UpperContainer>div:nth-child(1)>div:nth-child(1){
    display:flex;
    justify-content:flex-start;
    height:40%;
}

#UpperContainer>div:nth-child(1)>div>div{
    height:60%;
    width:100%;
    font-family: 'Bebas Neue';
    text-align:left;
}

#UpperContainer>div:nth-child(1)>div>div>p{
  height:25%;
  font-size:30px;
}


#email{
    border-style:solid;
    border-right-style:none;
    padding-top:12px;
    padding-bottom:12px;
    width:70%;
    text-align:left;
    float:left;
}

#email:focus{
    border-color: black;
    box-shadow: none;
}


#email_submit{
    background-color:white;
    color:black;
    text-align:center;
    border-style:solid;
    border-left-style:none;   
    padding-top:12px;
    padding-bottom:12px;
    padding-right:12px;
    padding-left:12px;
    border-color: gray;
    transition: background-color 0.25s;
}



#terms {
    accent-color: black;
}


#terms_link{
    color:black;
}

#emailPost>label{
    font-family: 'Arima';
    padding-top: 10px;
}

#email_submit:hover{
    background-color: black;
    color: white;
    border-color: black;
}

#UpperContainer>div:nth-child(2){
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#UpperContainer>div:nth-child(2)>div{
    height: 100%;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

#UpperContainer>div:nth-child(2)>div>p{
    height: 25%;
    width: 100%;
    font-size: 15px;
    font-family: 'Arima';
}

#UpperContainer>div:nth-child(2)>div>p:nth-child(1){
    height: 15%;
    width: 100%;
    font-family: 'Bebas Neue';
    font-size: 22px;
}

#UpperContainer>div:nth-child(3){
    background-color: white;
}

#UpperContainer>div:nth-child(4){
    background-color: white;
}


#UpperContainer>div:nth-child(3)>p:nth-child(1){
    height:15%;
    width:100%;
    font-family: 'Bebas Neue';
    font-size: 22px;
}

#UpperContainer>div:nth-child(3)>p:nth-child(2){
    height:15%;
    width:100%;
    font-family: 'Arima';
    font-size: 15px;
}

#UpperContainer>div:nth-child(4)>p{
    height: 15%;
    width: 100%;
    font-size: 15px;
    font-family: 'Arima';
}

#UpperContainer>div:nth-child(4)>p:nth-child(1){
    height: 15%;
    width: 100%;
    font-size: 22px;
    font-family: 'Bebas Neue';
}




#LowFooter{
    height:50%;
    width:100%;
    display: flex;
}

#LowFooter>div{
    height: 100%;
    width:33.3%;
}

#LowFooter>div:nth-child(1){
    position: relative;
}

#LowFooter>div>p{
    height: 10px;
    width: auto;
}



#LowFooter>div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

#LowFooter>div:nth-child(2)>img{
    height: 75%;
    width: 50%;
}

#media{
    display: flex;
    height: 10px;
    width:50px;
    width: auto;
    position: absolute;
    bottom: 50px;
    left: 30px;
}

#media>img{
    height:17px;
    padding-left:10px;
}

#media>p{
    height: 100%;
    font-family: 'Bebas Nue';
}

#LowFooter>div:nth-child(3){
    position: relative;
}

#LowFooter>div:nth-child(3)>p{
    height: 10px;
    width: auto;
    position: absolute;
    bottom: 50px;
    right: 30px;
    font-family: 'Arima';
    font-weight: bold;
}


